body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-links {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 12px;
}

/* Section 1 */

.section-1 {
  background-color: #1f2937;
  padding: 64px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.section-1-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.section-1-subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 8px;
}

.section-1-button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  border-style: none;
  border-radius: 10px;
  padding: 4px 32px;

  flex: 0 0 auto;
}

.section-1-left {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.section-1-right img {
  height: 200px;
  width: 600px;
}

/* Section 2 */

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
}

.section-2-illust-container {
  display: flex;
  justify-content: center;
  gap: 42px;
}

.section-2-illust {
  max-width: 150px;
  text-align: center;
}

.section-2-illust img {
  height: 150px;
  width: 150px;
}

.section-2-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;
  margin-bottom: 32px;
}

.section-2-illust-subtext {
  font-size: 16px;
  color: #1f2937;
}

/* Section 3 */

.section-3 {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 128px;
}

.section-3-container {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
}

.section-3-quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.section-3-quote-subtest {
  font-size: 20px;
  color: #1f2937;
  font-weight: bold;
}

/* Section 4 */

.section-4 {
  display: flex;
  justify-content: center;
  color: #e5e7eb;
  padding: 64px;
}

.section-4-container {
  display: flex;
  align-items: center;
  background-color: #3882f6;
  padding: 42px 128px;
  border-radius: 10px;
  gap: 128px;
}

.section-4-button {
  border-style: none;
  background-color: #3882f6;
  color: #e5e7eb;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  padding: 4px 32px;
  font-weight: bold;
}

.section-4-header {
  font-size: 18px;
  font-weight: bold;
}

.section-4-subtext {
  font-size: 14px;
}

/* Footer */

footer {
  background-color: #1f2937;
  padding: 32px;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 14px;
}