body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-links {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 12px;
}

/* Section 1 */

.section-1 {
  background-color: #1f2937;
  padding: 16px;
  display: flex;
}

.section-1-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.section-1-subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.section-1-button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  border-style: none;
  border-radius: 10px;
  padding: 4px 18px;
}

.section-1-placeholder {
  color: #e5e7eb;
}